*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body {
    background-image: url(../img/fondo-dolares.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "tabla tabla"
        "juan conversor"
        "enzo conversor"
    ;
    gap: 16px;
    background: linear-gradient(#522ca4c1, #212e8dc1);
    width: 1200px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
    color: rgb(229, 229, 229);
    padding: 50px;
}
th, td{
    background-color: #2411586c;
    font-size: 14px;
    padding: 6px;
    text-align: center;
    line-height: 28px;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.35);
}
.tabla-desktop{
    grid-area: tabla;
}
.tabla-mobile{
    display: none;
}
#juan{
    grid-area: juan;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "pjuan pjuan"
        "lij ghj"
    ;
    background-color:#2411586c;
    padding: 16px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.35);
    border-radius: .75rem;
    font-size: 15px;
}
#enzo{
    grid-area: enzo;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
        "penzo penzo penzo"
        "lie ghe esjs"
    ;
    background-color: #2411586c;
    padding: 16px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.35);
    border-radius: .75rem;
    font-size: 15px;
}
#p-juan{
    grid-area: pjuan;
}
#p-enzo{
    grid-area: penzo;
}
article a img:hover{
    transform: scale(1.1);
    transition: .1s ease;
}
#lij{
    grid-area: lij;
    width: 40px;
    display: flex;
}
#ghj{
    grid-area: ghj;
    width: 32px;
}
#lie{
    grid-area: lie;
    width: 40px;
}
#ghe{
    grid-area: ghe;
    width: 32px;
}
#esjs{
    grid-area: esjs;
    width: 32px;
}
#juan a,
#enzo a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;
}
#conversor{
    grid-area: conversor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: #2411586c;
    padding: 16px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.35);
    border-radius: .75rem;
    font-size: 15px;
    height: 100%;
}
.boton-conversor{
    margin: 10px 6px 10px 0px;
    padding: 10px;
    font-size: 14px;
    color: white;
    outline: none;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.4);
    background-color:rgb(49, 29, 165) ;
    /*2d0882*/
}
.boton-conversor:hover{
    transition: .1s ease;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
    transform: scale(1.03);
    background-color: #260b67;
    cursor: pointer;
}
.boton-seleccionado{    /*Solo aplicado cuando se hace click mediante JS*/
    background-color: #260b67;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
    transform: scale(1.03);
}
#inputs-conv{
    display: flex;
    margin-top: 10px;
}
#inputs-conv input{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 6px;
    width: 40%;
}
h2{
    margin: 0;
}
#conversor p{
    margin: 10px 0px 10px 0px;
}
#exchange{
    margin-inline: 16px;
}
#exchange:hover{
    transition: .2s ease;
    transform: scale(1.15);
    cursor: pointer;
}
.exc-animation{
    animation: rotate-center 0.5s ease-in-out both;;
}
@keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*---MEDIA QUERIES---*/

@media (769px <= width <= 1200px){
    
    .tabla-mobile{
        display: none;
    }
    *{
        font-size: 12px;
    }
    #contenedor{
        width: 800px;
    }
    th, td{
        font-size: 12px;
        padding: 5px;
    }
    #juan, #enzo{
        height: 160px;
    }

}

@media (320px <= width <= 768px){

    .tabla-desktop{
        display: none;
    }
    .tabla-mobile{
        display: table;
    }
    *{
        font-size: 12px;
    }
    body {
        background-image: url(../img/fondo-dolares-mobile.webp);
        margin: 50px;
    }
    #contenedor{
        display: flex;
        flex-direction: column;
        background: none;
        box-shadow: none;
    }
    th, td{
        font-size: 12px;
        padding: 4px 24px;
    }
    #juan, #enzo{
        width: 350px;
    }

}
